### Go ###
# binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# test binary
*.test

# outputs
*.prof
*.out

# compiled objects
*.o
*.a

# generated folders
_obj
_test
vendor
resources

# arch specific
*.[568vq]

# CGO files
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Common IDEs
.idea
.vscode

# env 
#.env
